body{

background:black;
color:#00ff9c;
font-family:monospace;
margin:0;

}

header{

text-align:center;
padding:80px;

}

.typing{

font-size:45px;
border-right:3px solid #00ff9c;
white-space:nowrap;
overflow:hidden;

}

section{

padding:50px;
max-width:900px;
margin:auto;

}

h2{

color:#00ff9c;

}

.skills{

display:flex;
flex-wrap:wrap;

}

.skills span{

background:#111;
margin:8px;
padding:10px 15px;
border-radius:6px;

}

.card{

background:#111;
padding:20px;
margin-top:20px;
border-radius:10px;

}

.card a{

display:inline-block;
margin-top:10px;
color:#00ff9c;

}

.certs li{

margin:8px;

}

.btn{

display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#00ff9c;
color:black;
text-decoration:none;
border-radius:6px;

}

footer{

text-align:center;
padding:30px;

}
