/* MATRIX BACKGROUND */

#matrix{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}


/* GLOBAL STYLE */

body{

background:#000;
color:#00ff9c;
font-family:"Courier New",monospace;
margin:0;
line-height:1.6;

}


/* HEADER */

header{

text-align:center;
padding:80px 20px;

}

.typing{

font-size:45px;
border-right:3px solid #00ff9c;
white-space:nowrap;
overflow:hidden;
display:inline-block;
padding-right:10px;

}


/* SECTION */

section{

max-width:900px;
margin:auto;
padding:60px 20px;

}


/* HEADINGS */

h1,h2{

color:#00ff9c;
text-shadow:0 0 10px #00ff9c;

}


/* SKILLS */

.skills{

display:flex;
flex-wrap:wrap;
margin-top:20px;

}

.skills span{

background:#0d0d0d;
border:1px solid #00ff9c;
margin:6px;
padding:8px 14px;
border-radius:6px;
font-size:14px;

}


/* PROJECT CARDS */

.card{

background:#0d0d0d;
border:1px solid #00ff9c;
padding:20px;
margin-top:25px;
border-radius:10px;
transition:0.3s;

}

.card:hover{

box-shadow:0 0 15px #00ff9c;
transform:translateY(-3px);

}

.card a{

color:#00ff9c;
text-decoration:none;
font-weight:bold;

}

.card a:hover{

text-decoration:underline;

}


/* CERTIFICATIONS */

.certs{

list-style:none;
padding:0;

}

.certs li{

background:#0d0d0d;
border:1px solid #00ff9c;
padding:10px;
margin:8px 0;
border-radius:6px;

}


/* BUTTON */

.btn{

display:inline-block;
margin-top:25px;
padding:12px 24px;
background:#00ff9c;
color:#000;
text-decoration:none;
border-radius:6px;
font-weight:bold;
transition:0.3s;

}

.btn:hover{

background:#00ffaa;
box-shadow:0 0 10px #00ff9c;

}


/* CONTACT */

a{

color:#00ff9c;

}


/* FOOTER */

footer{

text-align:center;
padding:30px;
border-top:1px solid #00ff9c;
margin-top:40px;

}


/* RESPONSIVE */

@media(max-width:768px){

.typing{
font-size:30px;
}

section{
padding:40px 15px;
}

}
